{% extends "::base.html.twig" %}
{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}
<br>
<br>
<br>
{% block title %}Actividad 5{% endblock %}
{% block body %}

<p>Yacimiento {{ yacimiento.getName }}, con id  {{yacimiento.getId }} creado!!</p>
<ul>
	<li><a href="http://localhost:8000/yacimiento">Atrás</a></li>
</ul>
{% endblock %}
