{% extends "::base.html.twig" %}
{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}
<br>
<br>
<br>
{% block title %}Epoca Histórica{% endblock %}
{% block body %}

<p>Categoria  {{ epoca.getName }}, con id  {{epoca .getId }} creada!!</p>
<ul>
	<li><a href="http://localhost:8000/epoca">Atrás</a></li>
</ul>
{% endblock %}