{% extends 'base.html.twig' %}

{% trans_default_domain 'AppBundle' %}

{% block title %} Display Mensaje {% endblock %}

{% block content %}

<p>
<h2>{{ dispatch }}</h2>
</p>
 
	<p><a href="{{ app.request.headers.get('referer') }}"><i class="fa fa-arrow-circle-left fa-2x">&nbsp</i>{{ 'form.back' | trans }}</a></p>
        
{% endblock %}